.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.bg-light-red {
  background-color: #ffcccc;
}

iframe {
  display: none;
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.photo-album {
  column-count: 3;
  column-gap: 0;
}

.photo-album > div {
  break-inside: avoid;
  margin-bottom: 5px;
  padding: 5px;
}

.photo-album img {
  width: 100%;
  display: block;
}

@media (max-width: 800px) {
  .photo-album {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .photo-album {
    column-count: 1;
  }
}

.hr-separator {
  width: 100%;
  border-top: 2px solid #ccc;
}